[Unit]
Description=Container state monitor for {{ nim_waku_cont_name }}
Documentation=https://github.com/status-im/infra-role-nim-waku
Requires=docker.service consul.service

[Service]
User={{ nim_waku_monitor_service_user }}
WorkingDirectory={{ nim_waku_monitor_service_work_dir }}
Restart=on-failure
ExecStart={{ nim_waku_monitor_script }}

# Security
ReadOnlyPaths=/
ReadWritePaths=/etc/consul /tmp

[Install]
WantedBy=multi-user.target
