CLUSTER_ID: {{ nim_waku_cluster_id }}
SHARD: {{ nim_waku_pubsub_topics[0].split('/')[-1] }}
# Comma separated list of store nodes to poll
STORE_NODES: "{{ sonda_store_nodes }}"
# Wait time in seconds between two consecutive queries
QUERY_DELAY: 60
# Consecutive successful store requests to consider a store node healthy
HEALTH_THRESHOLD: 5